{% for structure in structures %}
<div class="card col-3  m-3" style="width: 18rem;">
    {# <img src="..." class="card-img-top" alt="..."> #}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('structures_details', {slug: structure.slug}) }}">
                {{ structure.name}}
            </a>
        </h5>
        {# {% if is_granted('ROLE_ADMIN') %} #}
        <a class="btn btn-warning" href="{{ path('structures_edit', {slug : structure.slug}) }}">Modifier</a>

        <button type="button" class="btn btn-danger modal-trigger" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop" data-name="{{ structure.name }}" data-slug="{{ structure.slug }}"
            data-id="{{ structure.id }}">
            Supprimer
        </button>

        {# <button class="btn rounded-1 primary btn-small modal-trigger" data-target="modal-delete"
            data-name="{{ structure.name }}" data-slug="{{ structure.slug }}"
            data-id="{{ structure.id }}">Supprimer</button> #}
        {# {% endif %} #}

        {% if structure.partner is null %}
        {% set state = "partner" %}
        {% else %}
        {% set state = "structure" %}
        {% endif %}


        {% if structure.isActivated %}
        {% set checked = 'checked' %}
        {% else %}
        {% set checked = '' %}
        {% endif %}
        <div class="form-check form-switch">
            <input 
                class="form-check-input activate-user" 
                type="checkbox" 
                role="switch" 
                {{ checked }}
                data-role="{{ role }}" 
                data-id="{{ structure.id }}" 
                data-slug="{{ structure.slug }}"
                data-state="{{ state }}"
            >
        </div>

    </div>
</div>
{% endfor %}