{% extends 'base.html.twig' %}



{% block title %}{{ structure.name}}{% endblock %}

{% block breadcrumb %}
{% if is_granted('ROLE_PARTNER') %}
{% include "_partials/_breadcrumb.html.twig" %}
{% endif %}
{% endblock %}


{% block PageTitle %}{{ structure.name}}{% endblock %}

{% block body %}

{% if not app.user.isActivated %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
        <strong>Votre compte est actuellement désactivé.</strong>
    </div>
</div>
{% endif %}

{% if (app.user.isVerified and app.user.isActivated) or is_granted('ROLE_ADMIN') %}


<div class="row justify-content-center">

    <div class="card col-3  m-3" style="width: 18rem;">
        {# <img src="..." class="card-img-top" alt="..."> #}
        <div class="card-body">
            <h5 class="card-title">
                {{ structure.name}}
            </h5>
            <p class="card-text">
                {{ structure.address}} <br>
                {{ structure.zipcode}} <br>
                {{ structure.city}}

            </p>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning" href="{{ path('structures_edit', {slug : structure.slug}) }}">Modifier</a>

            <button type="button" class="btn btn-danger modal-trigger" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" data-name="{{ structure.name }}" data-slug="{{ structure.slug }}"
                data-id="{{ structure.id }}">
                Supprimer
            </button>

            {% endif %}

            {% if structure.partner is null %}
            {% set state = "partner" %}
            {% else %}
            {% set state = "structure" %}
            {% endif %}


            {% if structure.isActivated %}
            {% set checked = 'checked' %}
            {% else %}
            {% set checked = '' %}
            {% endif %}
            <div class="form-check form-switch">
                <input class="form-check-input activate-user" type="checkbox" role="switch" {{ checked }}
                    data-role="{{ role }}" data-id="{{ structure.id }}" data-slug="{{ structure.slug }}"
                    data-state="{{ state }}">
            </div>

        </div>
    </div>
    <div>
        <h2>Droits</h2>
        <div>
            {% for module in modules %}

            {{ module.module }}
            {% if module.is_activated %}
            {% set checked = 'checked' %}
            {% else %}
            {% set checked = '' %}
            {% endif %}

            <div class="form-check form-switch">
                <input class="form-check-input activate-module" type="checkbox" role="switch" {{ checked }}
                    data-role="{{ role }}" data-idmodule="{{ module.id_module }}" data-slug="{{ structure.slug }}">
            </div>

            {% endfor %}
        </div>

    </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="">VALIDER</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}