{% extends 'base.html.twig' %}

{% block flash %}
{% include "_flash.html.twig" %}
{% endblock %}

{% block title %}{{ partner.name }}{% endblock %}
{% block PageTitle %}{{ partner.name }}{% endblock %}
{% block breadcrumb %}
{% if is_granted('ROLE_ADMIN') %}
{% include "_partials/_breadcrumb.html.twig" %}
{% endif %}
{% endblock %}

{% block body %}
{% if not app.user.isActivated %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="alert-message">
        <strong>Votre compte est actuellement désactivé.</strong>
    </div>
</div>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<a class="btn btn-success" href="{{ path('partners_add_structure', {slug : partner.slug}) }}">Ajouter une
    structure</a>
{% endif %}

{# <button class="btn btn-primary" id="btn-test">TEST</button> #}

{% if (app.user.isVerified and app.user.isActivated) or is_granted('ROLE_ADMIN') %}

<div id="cards" class="row justify-content-center content">
    {% include "partner/_cards.html.twig" %}    
    {% include "_partials/_modal_switch.html.twig" %}
    {% include "_partials/_modal_delete.html.twig" %}
</div>
<div>
    <h2>Permissions globales</h2>
    {% for module in modules %}
    <div>
        {{ module.module }}

        {% set checked = module.is_activated ? 'checked' : '' %}

        <div class="form-check form-switch">
            <input class="form-check-input activate-module btn-lg" type="checkbox" role="switch" {{ checked }}
                data-role="{{ role }}" data-idmodule="{{ module.id_module }}" data-slug="{{ partner.slug }}">
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}



{% endblock %}
